html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 320px;
  max-width: 100%;
  max-height: 100%;
}

.parent{
  position: relative;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(0, 0, -50%, -50%); */
}
h1, h2, h3, h4, h5, h6, p{
  color: white;
}

.main{
  background: orange;
}
.heading{
  padding: 200px 0;
}

.section1{
  background: #1aac7c;
}
.section2{
  background: red;
}
footer{
  background: #333;
  max-height: 100px;
}
